.feedContainer {
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  padding-bottom: 60px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.feedContainer::-webkit-scrollbar {
  display: none;
}

.videoWrapper {
  height: 100dvh;
  scroll-snap-align: start;
  position: relative;
}
